<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <display-name>weChat_v1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>add.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My</display-name>
    <servlet-name>My</servlet-name>
    <servlet-class>my.My</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My</servlet-name>
    <url-pattern>/My</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMy</display-name>
    <servlet-name>UpdateMy</servlet-name>
    <servlet-class>updateMy.UpdateMy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMy</servlet-name>
    <url-pattern>/UpdateMy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sh</display-name>
    <servlet-name>Sh</servlet-name>
    <servlet-class>sh.Sh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sh</servlet-name>
    <url-pattern>/Sh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Friend</display-name>
    <servlet-name>Add_Friend</servlet-name>
    <servlet-class>add_Friend.Add_Friend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Friend</servlet-name>
    <url-pattern>/Add_Friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Friends</display-name>
    <servlet-name>Friends</servlet-name>
    <servlet-class>friends.Friends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friends</servlet-name>
    <url-pattern>/Friends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>message.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getmessage</display-name>
    <servlet-name>Getmessage</servlet-name>
    <servlet-class>getmessage.Getmessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getmessage</servlet-name>
    <url-pattern>/Getmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Peng</display-name>
    <servlet-name>Peng</servlet-name>
    <servlet-class>peng.Peng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Peng</servlet-name>
    <url-pattern>/Peng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Friendgroup</display-name>
    <servlet-name>Friendgroup</servlet-name>
    <servlet-class>friendgroup.Friendgroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friendgroup</servlet-name>
    <url-pattern>/Friendgroup</url-pattern>
  </servlet-mapping>
</web-app>